.list {
  list-style-type: none;
}

.logo-web {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--blue-logo);
}

.logo-studio {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}

.logo-studio-white {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white);
}

.web-bookmarks {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color-black);
}

.mail-phone {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--grey);
}

:root {
  --main-color-black: #212121;
  --blue-logo: #2196f3;
  --grey: #757575;
  --white: #ffffff;
}
.body {
  font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
  color: var(--main-color-black);
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-black);
  background: #f5f4fa;
  border-radius: 4px;
  border-width: 0;
  padding: 6px 22px;
}
.web-bookmarks:hover,
.web-bookmarks:focus {
  color: var(--blue-logo);
}

.mail-phone:hover,
.mail-phone:focus {
  color: var(--blue-logo);
}

.button:hover,
.button:focus {
  color: var(--white);
  background: var(--blue-logo);
  cursor: pointer;
}

.picture-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color-black);
}
.picture-subtitle {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.background {
  background: #2f303a;
}
.address {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.white {
  color: var(--white);
}

.grey {
  color: rgba(255, 255, 255, 0.6);
}
.no-underline {
  text-decoration: none;
}
.effective {
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
.main-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--blue-logo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  padding: 10px 41px;
}
.main-button:hover,
.main-button:focus {
  cursor: pointer;
}
.lorem {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color-black);
}
.smaller-lorem {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--grey);
}
.h-two {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-black);
}
.names {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-color-black);
}
.job {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--grey);
}
